<p-dialog [header]="header" [(visible)]="isVisible" styleClass="dialog-modal" position="top" [modal]="true"
    [draggable]="false" [resizable]="false" (onShow)="autofocus()">
    <p-progressBar *ngIf="loading" mode="indeterminate"></p-progressBar>
    <p *ngIf="!error">
        <ng-content></ng-content>
    </p>
    <p *ngIf="error">
        Error: {{error}}
    </p>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-times" (click)="cancel()" class="p-button-outlined" [label]="cancelBtn"
            [disabled]="loading || error" #autofocus></button>
        <button pButton icon="pi pi-check" (click)="submit()" class="p-button-outlined" [label]="submitBtn"
            [disabled]="loading || error"></button>
    </ng-template>
</p-dialog>